* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.page-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.page-wrapper
  .intro
  .summary
  .preamble
  .main
  supporting
  .participation
  .benefits
  .requirements
  footer {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: left;
}

/*---------ASIDE SIDEBAR --------*/
/*
.wrapper {
  display: flex;
  position: relative;
}
.wrapper .design-selection {
  width: 250px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}
.wrapper .design-selection h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.wrapper .design-selection ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.wrapper .design-selection ul li a {
  color: #bdb8d7;
  display: inline-block;
}
.wrapper .design-selection ul li:hover {
  background-color: #594f8d;
}

.wrapper .design-selection ul li:hover a {
  color: #fff;
}
*/
