* {
  margin: 0;
  padding: 0;
}
.intro,
.main,
.sidebar {
  width: 100vw;
  height: 100vh;
}
.unicorn-wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.intro {
  background: cyan;
}
.main {
  background: pink;
}
.sidebar {
  background: aqua;
}
.page-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
