* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(DSC02354555.jpg);
  background-color: aquamarine; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.main {
  width: 100vw;
  height: 100vh;
}
.intro {
  width: 50vw;
  height: 100vh;
}
.sidebar {
  width: 50vw;
  height: 100vh;
}
.unicorn-wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
/*
.intro {
  background: cyan;
}
.main {
  background: pink;
}
.sidebar {
  background: aqua;
}
*/
.page-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
