* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Century Gothic", sans-serif;
}
body {
  background-image: url(DSC02354555.jpg);
  background-color: aquamarine; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.unicorn-wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.page-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/*-----tryout-*/
a:link {
  font-weight: bold;
  color: #075e7b;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  color: #075e7b;
  text-decoration: none;
}

a:hover,
a:active {
  font-weight: bold;
  color: #737373;
  text-decoration: underline;
}

.intro {
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}
#zen-intro {
  margin-top: 20px;
  margin-left: 20px;
  background: url(koi.png) no-repeat top left;
  width: 42vh;
  height: 25vw;
  border-radius: 40px;
}

header {
  position: relative;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

header h1 {
  z-index: 1;
  position: absolute;
  margin: 0px;
  padding: 0px;
  background: transparent url(aquariumH1x.png) no-repeat top left;
  width: 100vh;
  height: 100vw;
  left: -7vh;
  top: 25vh;
  text-indent: -9999px;
  overflow: hidden;
}

header h2 {
  z-index: 1;
  position: absolute;
  margin: 0px;
  padding: 0px;
  background: url(move3.png) no-repeat top left;
  width: 100vh;
  height: 15vw;
  left: 25vh;
  top: -38px;

  text-indent: -9999px;
  overflow: hidden;
}

.summary {
  position: absolute;
  margin: 0px;
  padding: 10px;
  width: 50vh;
  height: 9vw;
  left: 200px;
  top: 35px;
  background: #fff;
  opacity: 0.7;
  border-radius: 20px;
}

.summary p {
  z-index: 2;
  position: relative;
  margin: 0px;
  padding: 6px 0px 6px 0px;
}

.preamble h3,
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3 {
  text-indent: -9999px;
  overflow: hidden;
}

.preamble p,
.explanation p,
.participation p,
.benefits p,
.requirements p {
  position: relative;
  margin: 0px;
  padding: 6px 0px 6px 15px;
}

.preamble {
  position: absolute;
  margin: 0px;
  padding: 0px;
  background: #fff;
  width: 75vh;
  height: 24vw;
  left: 85vh;
  opacity: 0.7;
  border-radius: 20px;
}

.preamble h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: transparent url(enlighten.png) no-repeat center;
  height: 5vw;
}

.supporting {
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}

.explanation {
  position: absolute;
  margin: 0px;
  padding: 6px;
  width: 75vh;
  height: 15vw;
  left: 85vh;
  top: 360px;
  background: #fff;
  opacity: 0.7;
  border-radius: 20px;
}

.explanation h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: transparent url(about.png) no-repeat center;
  width: 60vh;
  height: 2.8vw;
}
.interlinked {
  position: absolute;
  padding: 6px;
  width: 170vh;
  height: 0vw;
  left: 153vh;
  top: 0px;
}
.interlinked h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: url(Interlinked.png) no-repeat center;
  height: 25vw;
}
.participation {
  position: absolute;
  left: 1059px;
  top: 10px;
  padding: 0px;
  width: 300px;
  height: 400px;
  background: #fff;
  opacity: 0.7;
}

.participation h3 {
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background: transparent url(head_participation.gif) no-repeat bottom left;
  width: 142px;
  height: 25px;
}

.benefits {
  position: absolute;
  left: 1260px;
  top: 470px;
  padding: 0px;
  background: transparent;
  width: 300px;
  height: 170px;
  background: #fff;
  opacity: 0.7;
}

.benefits h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: transparent url(head_benefits.gif) no-repeat top left;
  width: 94px;
  height: 25px;
}

.requirements {
  position: absolute;
  margin: 0px;
  padding: 0px;
  background: transparent;
  width: 300px;
  height: 300px;
  left: 1593px;
  top: 23px;
  background: #fff;
  opacity: 0.7;
}

.requirements h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: transparent url(head_requirements.gif) no-repeat top left;
  width: 153px;
  height: 25px;
}

footer {
  position: absolute;
  margin: 0px;
  padding: 0px;
  background: transparent;
  width: 300px;
  left: 1650px;
  top: 633px;
  background: #fff;
  opacity: 0.7;
}

.sidebar {
  margin: 0px;
  padding: 0px;
}

.sidebar ul {
  position: relative;
  margin: 0px;
  padding: 2px 0px 0px 23px;
  list-style-type: none;
}

.sidebar li {
  position: relative;
  margin: 0px;
  padding: 2px 0px 1px 0px;
}

.sidebar a {
  font-weight: normal;
}

.sidebar .wrapper {
  position: relative;
  margin: 0px;
  padding: 0px;
}

.design-selection h3,
.design-archives h3,
.zen-resources h3 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.design-selection {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 145px;
  left: 360px;
  top: 189px;
  background: #fff;
  opacity: 0.7;
}

.design-selection h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: transparent url(head_select.gif) no-repeat top left;
  width: 127px;
  height: 19px;
}

.design-selection a {
  margin: 0px;
  padding: 4px 0px 0px 0px;
  font-weight: bold;
  display: block;
}

.design-selection a.designer-name {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  display: inline;
}

.design-archives {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 270px;
  left: 30px;
  top: 461px;
  background: #fff;
  opacity: 0.7;
}

.design-archives h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: transparent url(head_archives.gif) no-repeat top left;
  width: 72px;
  height: 19px;
}

.zen-resources {
  position: absolute;
  left: 45px;
  top: 535px;
  padding: 0px;
  width: 270px;
  background: #fff;
  opacity: 0.7;
}

.zen-resources h3 {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: transparent url(head_resources.gif) no-repeat top left;
  width: 88px;
  height: 19px;
}

.extra1 {
  position: absolute;
  margin: 0px;
  padding: 0px;
  background: transparent;
  width: 5px;
  height: 258px;
  left: 1095px;
  top: 117px;
}

.extra2,
.extra3,
.extra4,
.extra5,
.extra6 {
  display: none;
}
